certifi==2023.7.22
chardet==3.0.4
click==7.1.2
Flask==2.2.5
idna==3.7
itsdangerous==1.1.0
Jinja2==3.1.4
joblib==1.2.0
jsonify==0.5
MarkupSafe==1.1.1
numpy==1.22.0
requests==2.31.0
scikit-learn==0.23.1
scipy==1.11.1
sklearn==0.0
threadpoolctl==2.1.0
urllib3==1.26.19
#Werkzeug==1.0.1 ## This is a vulnarable package
wincertstore==0.2
gunicorn
